.chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    background-color: #ccc;
}

.chat-header {
    background-color: #17A2B8;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-messages {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    overflow: scroll;
    /* -webkit-animation-fill-mode: none; */
}

/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

/* Track styles */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle styles */


/* ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
} */

/* Handle hover styles */
::-webkit-scrollbar-thumb:hover {
    background: #b6b4b4;
}

/* .user-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 0;
} */

/* .close-button {
    float: right;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
} */

/* .message {
    margin-bottom: 10px;
} */

/* .user-message {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    word-break: break-all;
} */

/* .bot-message {
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 10px;
    word-break: break-all;
} */